
<div class="container">
    <div class="row">
        <h1>Book Detail:</h1>
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <div class="mat-elevation-z8">
                    <mat-label>Title</mat-label>
                    <p >{{book.title}}</p>
                </div>
             <div class="mat-elevation-z8">
                    <mat-label>Author</mat-label>
                    <p >{{book.author}}</p>
                </div>
             <div class="mat-elevation-z8">
                    <mat-label>Description</mat-label>
                    <p >{{book.description}}</p>
                </div>
            </mat-card>
        </div>
    </div>
</div>
